.sub-grid-container {
  border: 1px solid #ccc;
  .sub-grid {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
}

.grid-container {
  border: 2px solid #ccc;
  height: 400px;
  width: 400px;

  .grid {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
}

.cell {
  // width: 40px;
  // height: 40px;
  border: 1px solid #ccc;
}
