<div class="stats-container">

  <ng-template 
    #statTpl 
    let-key="key" 
    let-valueTpl="valueTpl" 
    let-value="value"
  >
    <div class="stat-item">
      <div class="stat-key">{{ key }}</div>
      <div class="stat-value">
        <ng-container *ngIf="valueTpl">
          <ng-container [ngTemplateOutlet]="valueTpl" [ngTemplateOutletContext]="{ value: value }"></ng-container>
        </ng-container>
        <ng-container *ngIf="valueTpl === undefined">
            {{ value }}
        </ng-container>
      </div>
    </div>
  </ng-template>

  <ng-container></ng-container>

  <ng-template #elapsedTpl let-value="value">
    <app-elapsed-time [elapsedMs]="elapsedMs"></app-elapsed-time>
  </ng-template>

  <ng-container
    [ngTemplateOutlet]="statTpl"
    [ngTemplateOutletContext]="{ key: '时间过去了', valueTpl: elapsedTpl, value: elapsedMs }"
  ></ng-container>

  <ng-container
    [ngTemplateOutlet]="statTpl"
    [ngTemplateOutletContext]="{ key: '空位', value: statEmptyCount }"
  ></ng-container>

  <ng-container
    [ngTemplateOutlet]="statTpl"
    [ngTemplateOutletContext]="{ key: '占位', value: statFillCount }"
  ></ng-container>

</div>

<div class="grid-container">
  <div class="grid">
    <div *ngFor="let subgrid of gridData" class="sub-grid-container">
      <div class="sub-grid">
        <ng-container *ngFor="let cell of subgrid">
          <div
            class="cell"
            [style.backgroundColor]="cell.backgroundColor ?? 'unset'"
            [ngClass]="{ 'cell-editable': cell.editable, 'error': cell.error }"
            (mouseenter)="handleEnter(cell)"
            (mouseout)="handleOut()"
            (click)="toggleCellEditMode(cell)"
          >
            <ng-container *ngIf="cell.content !== '.'">{{
              cell.content
            }}</ng-container>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</div>

<form [formGroup]="_modeForm" *ngIf="editingCell === undefined">
  <p>工作模式：</p>
  <div>
    <ng-container *ngFor="let opt of modeOptions">
      <input
        formControlName="mode"
        type="radio"
        [id]="opt.value"
        name="mode"
        [value]="opt.value"
      />
      <label [for]="opt.value">{{ opt.label }}</label>
    </ng-container>
  </div>
</form>

<div *ngIf="editingCell">
  <p>提示：</p>
  <div>
    <span>请按下某个数字键，或者再点一次活跃 Cell.</span>
  </div>
</div>

<div>
  <p>操作：</p>
  <div>
    <button (click)="reset()">重置</button>
  </div>
</div>
